<%- include('./base/header.ejs')%>

<body>
    <%- include('./base/site_header.ejs')%>
    <div class="wrapper">
        <%- include('./base/shop_list-cart.ejs')%>
        <%- include('./base/food_list.ejs')%>
    </div>
</body>
<script src="scripts/shop_cart-toggle.js"></script>
<script src="scripts/cart2.js"></script>
</html>