.header{
    display: flex;
    flex-direction: column;

    margin: 22px 0 25px 12px;
}

.header .user_name{
    font-size: 20px;
}

.exit_button{
    display: flex;
    align-items: center;
    color: black;
}

.header .exit_button .exit_button-image{
    margin-left: 15px;
}